body {
    background-color: darkorange;
    height: 1000px;
}

nav {
    position: fixed;
    top: 0;
    left: 30%;


background-color: #000;    


}


li {
    display: inline-block;
    margin: 0 30px;

}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: burlywood;


}


a:hover {
    color: brown;
    text-decoration: underline;
}